* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

body {
    width: 90%;
    margin: 5%;
    background: #fffafa;
}

navigation li {
    display: inline;
}

navigation a {
text-decoration: none;
color: rgb(155, 31, 226);
}

#About {
display: block;
}

#Project {
display: inline-block;

}

p {
    line-height: 1.4rem;
    margin-bottom: 0.8rem;
}

h1 {
    font-size: 2.1rem;
}

h2 {
    font-size: 1.7rem;
}

footer {
    background-color: black;
    color: white;
}